[submodule "proxmox-api-types"]
	path = lib/proxmox-api-types
	url = ../proxmox-api-types
[submodule "ui/pwt-assets"]
	path = ui/pwt-assets
	url = gitolite3@proxdev.maurer-it.com:yew/proxmox-yew-widget-toolkit-assets
[submodule "lib/proxmox-backup"]
	path = lib/proxmox-backup
	url = git://git.proxmox.com/git/proxmox-backup.git
