@import "../pwt-assets/scss/desktop-yew-style";
@import "pdm";

.proxmox-content-spacer {
    padding: var(--pwt-spacer-4);
    gap: var(--pwt-spacer-4);

    &.proxmox-content-spacer-with-one-child {
        padding: 0;
    }

    & > * {
        border: 0px !important;
        border-top: 1px solid var(--pwt-color-surface) !important;
        @include elevation-box-shadow(1);
    }
}
