@import "../pwt-assets/scss/desktop-yew-style";
@import "pdm";

.proxmox-content-spacer {
    padding: var(--pwt-spacer-4);
    gap: var(--pwt-spacer-4);

    &.proxmox-content-spacer-with-one-child {
        padding: 0;
    }

    & > * {
        border: 0px !important;
        border-top: 1px solid var(--pwt-color-surface) !important;
        @include elevation-box-shadow(1);
    }
}

// TODO: move to pwt assets once we're sure about doing it this way or drop, if
// we rewroked layouting and placement of the dropdown picker.
.pwt-dropdown {
    max-height: min(45dvh, 500px) !important;
}
