// FIXME: better handling of status icons background?

.pdm-type-icon {
    position: relative;

    .status-icon {
        background-color: var(--pwt-color-background);
        position: absolute;
        right: -8px;
        bottom: 0px;
        font-size: 80%;
    }
}

.pve-guest-icon {
    position: relative;

    .status-icon {
        background-color: var(--pwt-color-background);
        position: absolute;
        right: -6px;
        bottom: 1px;
        font-size: 80%;
    }
}

.pve-tags {
    text-overflow: ellipsis;
    .pve-tag {
        border-radius: var(--pwt-button-corner-shape);
        @include padding-level(2, "inline");
    }
}

.line-usage-graph {
    border-radius: var(--pwt-button-corner-shape);
    height: map-get($line-height, "label-large");
}

.fa-cpu::before {
    content: " ";
    background-image: url(./images/icon-cpu.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

.fa-memory::before {
    content: " ";
    background-image: url(./images/icon-memory.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

:root.pwt-dark-mode {
  .fa-memory, .fa-cpu {
    filter: invert(90%);
  }
}
