.pdm-type-icon {
    position: relative;

    .status-icon {
        text-shadow: 0px 0px 2px var(--pwt-color-background);
        position: absolute;
        right: -8px;
        bottom: 0px;
        font-size: 80%;
    }
}

.pve-guest-icon {
    position: relative;

    .status-icon {
        text-shadow: 0px 0px 2px var(--pwt-color-background);
        position: absolute;
        right: -6px;
        bottom: 1px;
        font-size: 80%;
    }
}

.pve-tags {
    text-overflow: ellipsis;
    .pve-tag {
        border-radius: var(--pwt-button-corner-shape);
        padding-inline: var(--pwt-spacer-2)
    }
}

.line-usage-graph {
    border-radius: var(--pwt-button-corner-shape);
    height: map-get($line-height, "label-large");
}

.fa-cpu::before {
    content: " ";
    background-image: url(./images/icon-cpu.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

.fa-memory::before {
    content: " ";
    background-image: url(./images/icon-memory.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

.fa-sdn-vnet::before {
    content: " ";
    mask-image: url(./images/icon-sdn-vnet.svg);
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    background-color: var(--pwt-color);
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

.fa-sdn:before {
    content: " ";
    mask-image: url(../images/icon-sdn.svg);
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    background-color: var(--pwt-color);
    width: 16px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
}

.pwt-nav-menu .pwt-nav-link.active{
    .fa-sdn:before,
    .fa-sdn-vnet:before {
        background-color: var(--pwt-accent-color);
    }
}

.pwt-panel-header-text{
    .fa-sdn:before,
    .fa-sdn-vnet:before {
      background-color: var(--pwt-accent-color-background);
    }
}

:root.pwt-dark-mode {
    .fa-memory,
    .fa-cpu {
        filter: invert(90%);
    }
}

.proxmox-content-spacer {
    @include color-scheme-vars("surface");
    color: var(--pwt-color);
    background-color: var(--pwt-color-background);

    padding: var(--pwt-spacer-2);
    gap: var(--pwt-spacer-2);

    display: flex;
    flex-direction: column;

    & > * {
        @include color-scheme-vars("neutral");
        border: 1px solid var(--pwt-color-border);
        color: var(--pwt-color);
        background-color: var(--pwt-color-background);
    }
}
