<!DOCTYPE html>
<html>
   <head>
     <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

     <link href="/fontawesome/css/font-awesome.css" rel="stylesheet">

     <title>{{ NodeName }} - Proxmox Datacenter Manager</title>

     <style>
       /* Avoid flickering (default background in firefox is always white)*/
       @media (prefers-color-scheme: dark ) { body { background: #333; } }
       @media (prefers-color-scheme: light) { body { background: #fff; } }
     </style>
     <script type="text/javascript">
       Proxmox = {
           Setup: { auth_cookie_name: 'PDMAuthCookie' },
           NodeName: "{{ NodeName }}",
           UserName: "{{ UserName }}",
           CSRFPreventionToken: "{{ CSRFPreventionToken }}",
       };
    </script>
     <link rel="preload" href="/js/pdm-ui_bg.wasm.gz" as="fetch" type="application/wasm" crossorigin="">
     <link rel="modulepreload" href="/js/pdm-ui_bundle.js"></head>
   </head>
   <body>
       <script type="module">
            import init from '/js/pdm-ui_bundle.js';
            const decompressedResponse = new Response(
                await fetch('/js/pdm-ui_bg.wasm.gz')
                    .then(res => res.body.pipeThrough(new DecompressionStream("gzip")))
            );
            // set correct type to allow using faster WebAssembly.instantiateStreaming
            decompressedResponse.headers.set("Content-Type", "application/wasm");
            init(decompressedResponse);
       </script>
   </body>
</html>
